<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CHA</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">CHA</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="section1.html"><i class="fa fa-fw fa-bar-chart-o"></i> Import Sea</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Import Sea <small></small>
                        </h1>
                    </div>
                </div>
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="addSeaList">
                            <li><a href="section1.html">Doc No.</a></li>
                            <li><a href="section2.html">Clearance</a></li>
                            <li class="active"><a href="section3.html">Samples / Open Order</a></li>
                            <li><a href="section4.html">Survey</a></li>
                            <li><a href="section5.html">Remarks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-list"></i> Add Section 3
                            </li>
                        </ol>
                    </div>
                </div>


                <!-- Section 1 form -->
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post">                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="import_Field">
                                    I/A Field on</label>
                                    <input type="text" name="import_Field" id="import_Field" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="import_No">
                                    Number</label>
                                    <input type="text" name="import_No" id="import_No" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Date</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="import_amount">
                                    Amount</label>
                                    <input type="text" name="import_amount" id="import_amount" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="import_ia_compared_no">
                                    I/A Compared on</label>
                                    <input type="text" name="import_ia_compared_no" id="import_ia_compared_no" class="form-control">
                                </div>
                            </div>
                            <hr/>
                            <b>Samples</b>
                            <hr/>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_Field">
                                    Called on</label>
                                    <input type="text" name="import_Field" id="import_Field" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_No">
                                    Dock Clerk Instruction </label>
                                    <input type="text" name="import_No" id="import_No" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Initial</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Drawn on</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Reason for delay</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Submitted to customs</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Reason for delay</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    B/E Parcel Recd. on</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Time</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Initial</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <hr/><!-- todo -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Original Open Order Given on</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Completed on</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="import_seaDate">
                                    Reason for Delay</label>
                                    <input type="text" name="import_seaDate" id="import_seaDate" class="form-control">
                                </div>
                            </div>

                            <!-- Submit & Cancel button -->
                            <div class="text-center">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <input type="button" name="cancel" value="Cancel" class="btn btn-primary btn-block">
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-block">
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

</body>

</html>
